html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
.App {
  text-align: center;
  background: aliceblue;
  height: 100vh;
  /* height: 100%;    The .App class has only the 100vh which is 100% of the viewport height. Don't have to add one for horizontal as div is a block-level element that will take the full width horizontally by default.*/
}

